@import "../../../assets/scss/reset.scss";


body{
    background-image: url(../../../resources/images/backgrounds/login-register.png);
    background-position: center;
    background-size: cover;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section{
    >div{
        background-color: rgba(201, 201, 201, 0.38);
        width: fit-content;
        display: flex;
        flex-direction: column;
        min-height: 50vh;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 2vw;
        
    }

    h1, label, p, a{
        color: $text-color;
       
    }

    a{
        text-decoration: underline;
    }

    button{
        background-color: $button-color;
        color: $button-text;
        border: none;
        margin: 0 auto;
        width: 20rem;
        padding-block: 1rem;
        border-radius: 10px;
        margin-top: 4rem;
        cursor: pointer;
    }

    button:hover{
        background-color: #F0A8A8;
    }

    form{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    div form input[type = 'password'],  div form input[type = 'email']{
        padding: 0.75rem;
        width: 20rem;
        border-radius: 8px;
        border: none;
        margin:0.5rem 0 1rem 0;
        
    }

    h1{

        margin: 5vh 0 6vh 0;
    }

    p{
        
        padding-block: 5rem;
    }
   

}

