@import "../../../assets/scss/reset.scss";
@import "../../../resources/fonts/stylesheet.css";


body{
    background-image: url(../../../resources/images/backgrounds/login-register.png);
    background-position: center;
    background-size: cover;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section{
    >div{
        background-color: rgba(201, 201, 201, 0.38);
        width: fit-content;
        display: flex;
        flex-direction: column;
        min-height: 40rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 3rem;
        border-radius: 16px;
        
    }

    div.checkbox{
        display: flex;
        align-items: center;
    }



    h1, label, p, a{
        color: $text-color;
        font-family: 'Kross Neue Grotesk';
    }

    h1{
        font-family: 'Kross Neue Grotesk Heavy';
        font-size: 32px;

    }   

    label{
        font-size: 15px;
    }

    a{
        text-decoration: underline;
    }

    button{
        background-color: $button-color;
        color: $button-text;
        border: none;
        margin: 0 auto;
        width: 100%;
        padding-block: 1rem;
        border-radius: 10px;
        cursor: pointer;
        font-family: 'Kross Neue Grotesk Heavy';
        font-size: 16px;
    }

    button:hover{
        background-color: #F0A8A8;
    }

    form{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    div form div label{
        margin-left: 1rem;
    }

    input[type = 'checkbox']{
        padding: 0;
        margin: 0;

    }

    div form input[type = 'password'],  div form input[type = 'email']{
        padding: 0.75rem 1rem;
        width: 20rem;
        border-radius: 8px;
        border: none;
        margin:0.5rem 0 2rem 0;        
    }

    div form input[type = 'password']:focus,  div form input[type = 'email']:focus{
        outline: none;
        background-color: rgb(163, 163, 163);
        color: white;
    }

    h1{

        margin: 5vh 0 6vh 0;
    }

    div > p{
        
        padding-block: 2.5rem;
        font-size: 12px;
    }

    form>p{
        padding-block: 2.5rem;
        font-size: 12px;
        margin: 0 auto;

    }
   

}

